
*{
    margin: 0px;
    padding: 0px;
    
    text-decoration: none;
    color: rgb(228, 79, 141);
}
.navbar{
    background-color: rgb(241, 183, 226);
    overflow: hidden;
    color: #f131f1;
    padding-right: 30px;
    margin-top: 20px;
}
ul{
    list-style-type: none;
}
li{
    float : right;
    margin: 30px;
    font-size: 35px;
}
a{
    color: rgb(173, 35, 130)
    text-decoration: none;
}
.navbar a:hover{
    background-color: transparent;
    color: #e412c8;
    padding: 1px;
} 
.bcd div{
    background-color:transparent;
    border-radius: 4px;
}
 body{
    align-items: center;
    min-height: 50vh;
    background: url(IMAGE/Free-pink-gradient-aesthetic-background-from-Fotor.jpg);
    background-position: center;
    background-size: cover;
 }
.form{
    width: 420px;
    background: fixed;
    color:rgb(226, 85, 184);
    border-radius: 1px;
    border-color: rgba(238, 77, 190, 0);
    font-size: 30px;
    padding:  30px 0px;
    margin: 0px 650px;
    margin-top: 90px;
}
 .form h1{
    font-size: 46px;
    text-align: center;
    padding: 30px;
 }
  .form input{
    width: 100%;
    height: 50px;
    background: transparent;
    border-color: rgb(236, 117, 220);
    border: none;
    outline: none;
    border: 2px solid rgba(233, 14, 127, 0.932);
    border-radius: 40px;
    margin: 0px 0px;
    text-align: center;
    font-size: 25px;
    color: #1b1b1b
    
  }
 .form ::placeholder{
    color: #fff;
 }

 .form i{
    right: 20px;
    top: 30%;
    font-size: 20px;
 }

 button{
    width: 103%;
    height: 50px;
    background: #f88ad767;
    border: black;
    outline: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #181515;
    font-weight: 50px;

}

button:hover{
    cursor: pointer;
}

.abc{
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        color: black;
}
p{
        padding: 0px;
}
h3{
    padding-top: 50px;
}

 
